body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:white;
  font-size: 18px;
  font-family: Helvetica;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("http://userserve-ak.last.fm/serve/64/7163355.gif");
  }

body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
  font-size: 10pt;
}

a {
  margin: 0px 12px;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  color:red;
}
#spidey{
  border:none;
  background-image: url('http://k44.kn3.net/taringa/2/0/4/4/1/3/62/luiszero00000/C33.gif?7576');
  position:absolute;
  height:30%;
  width:30%;
  background-repeat: no-repeat;
}

#doggy {
  border:none;
  /*background-image: url('http://www.gifbin.com/bin/102010/1285930793_dog-has-breakfast.gif');*/
  background-image: url('http://i.giphy.com/fxhD7Y0e74BZm.gif');
  position:absolute;
  height: 30%;
  width: 30%;
  background-repeat: no-repeat;
}

#puppy {
  border:none;
  background-image: url('https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1012902_10201163118414525_1955290756_n.jpg?oh=d07dabb5105eda62d9940f39be2df152&oe=54F0ED77');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}
#tinypuppy {
  border:none;
  background-image: url('https://scontent-a-sjc.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/q85/p417x417/10403329_10203735708367666_1784926715696086878_n.jpg?oh=be6048927b744e92d85500d691ecd906&oe=54E09298');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}

.spinIt {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 0% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
