body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:white;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  color:red;
}
#spidey{
  border:none;
  background-image: url('https://38.media.tumblr.com/1a847d926c065a5404376b7cd018d59d/tumblr_ndehj5Dhj61tuceeho1_250.gif');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}

#doggy {
  border:none;
  background-image: url('http://www.gifbin.com/bin/102010/1285930793_dog-has-breakfast.gif');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}
