body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:white;
  font-size: 18px;
  font-family: Helvetica;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}

a {
  margin: 0px 12px;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  color:red;
}
#spidey{
  border:none;
  background-image: url('https://38.media.tumblr.com/1a847d926c065a5404376b7cd018d59d/tumblr_ndehj5Dhj61tuceeho1_250.gif');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}

#doggy {
  border:none;
  background-image: url('http://www.gifbin.com/bin/102010/1285930793_dog-has-breakfast.gif');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}

#puppy {
  border:none;
  background-image: url('https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1012902_10201163118414525_1955290756_n.jpg?oh=d07dabb5105eda62d9940f39be2df152&oe=54F0ED77');
  position:absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
}

.spinIt {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 0% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
